In [1]:
# 1. Write a program to check if a number is positive.
# 2. Write a program to check if a number is negative.
# 3. Check if a number is divisible by 5.
# 4. Write a program to check if a string starts with the letter "A".
# 5. Check if a given number is zero.
# 6. Write a program to check if a string is uppercase.
# 7. Check if a string contains only alphabets.
# 8. Determine if a number is between 1 and 100.
# 9. Check if the first character of a string is a vowel.
# 10. Verify if a given string ends with a question mark.

In [2]:
# 1. Write a program to check if a number is positive.

a = int(input('Enter a number: '))

if a < 0:
  print('Not Positive!')
else:
  print('Positive!')

Enter a number: 12
Positive!

In [3]:
# 2. Write a program to check if a number is negative.

a = int(input('Enter a number: '))

if a < 0:
  print('Negative!')
else:
  print('Not Negative!')

Enter a number: 22
Not Negative!

In [4]:
# 3. Check if a number is divisible by 5.

a = int(input('Enter a number: '))

if a%5 == 0:
  print(f"The number {a} is divisible by 5")
else:
  print(f"The number {a} is not divisible by 5")

Enter a number: 56
The number 56 is not divisible by 5

In [5]:
# 4. Write a program to check if a string starts with the letter "A".

a = input('Enter a string: ')

if a.startswith("A"):
  print("True")
else:
  print("False")

Enter a string: sdfdff
False

In [6]:
# 5. Check if a given number is zero.

a = int(input('Enter a number: '))

if a == 0:
  print("True")
else:
  print("False")

Enter a number: 2
False

In [7]:
# 6. Write a program to check if a string is uppercase.

a = input('Enter a string: ')

if a.isupper():
  print("True")
else:
  print("False")

Enter a string: xcvsuhsh
False

In [8]:
# 7. Check if a string contains only alphabets.

a = input('Enter a string: ')

if a.isalpha():
  print("True")
else:
  print("False")

Enter a string: asdfuygsyfasfg
True

In [9]:
# 8. Determine if a number is between 1 and 100.

a = int(input('Enter a number: '))

if a > 1 and a < 100:
  print("True")
else:
  print("False")

Enter a number: 6
True

In [10]:
# 9. Check if the first character of a string is a vowel.

a = input('Enter a string: ')

vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

if a[0] in vowels:
  print("True")
else:
  print("False")

Enter a string: jhgyy
False

In [11]:
# 10. Verify if a given string ends with a question mark.

a = input('Enter a string: ')


if a.endswith("?"):
  print("True")
else:
  print("False")

Enter a string: ajhgagydah?
True

In [12]:
# 11. Write a program to check if a number is even or odd.
# 12. Check if a person is eligible to vote (18 or older).
# 13. Determine if a word has more than five characters.
# 14. Write a program to check if a number is positive or negative.
# 15. Determine if a string has more than 10 characters.
# 16. Write a program to check if a number is divisible by 2 or not.
# 17. Check if a given string is in uppercase, else convert it to uppercase.
# 18. Check if a number is between 50 and 100. If it is, print “In Range”; otherwise, print “Out of Range.”
# 19. Write a program to determine if a string is empty. If it’s not, print the string.
# 20. Check if a number is greater than 10; if not, add 10 to it.

In [13]:
# 11. Write a program to check if a number is even or odd.

a = int(input('Enter a number: '))

if a % 2 == 0:
  print('Even')
else:
  print('odd')

Enter a number: 88
Even

In [14]:
# 12. Check if a person is eligible to vote (18 or older).

age = int(input('Enter age: '))

if age >= 18:
  print('Eligible to vote')
else:
  print('Not eligible to vote')

Enter age: 66
Eligible to vote

In [15]:
# 13. Determine if a word has more than five characters.

word = input("Enter a word: ")

if len(word) > 5:
  print("True")
else:
  print("False")

Enter a word: asdggfsF
True

In [16]:
# 14. Write a program to check if a number is positive or negative.

a = int(input('Enter a number: '))

if a > 0:
  print('Positive!')
else:
  print('Negative!')

Enter a number: 1
Positive!

In [17]:
# 15. Determine if a string has more than 10 characters.

s = input("Enter a string: ")

if len(s) > 10:
  print("True")
else:
  print("False")

Enter a string: DSsdDSGY
False

In [18]:
# 16. Write a program to check if a number is divisible by 2 or not.

a = int(input('Enter a number: '))

a%2 == 0

Enter a number: 23

False

In [19]:
# 17. Check if a given string is in uppercase, else convert it to uppercase.

s = input("Enter a string: ")

if s.isupper():
  print("String is in uppercase")
else:
  s = s.upper()
  print(f"{s}\n")
  print("String wasn't in uppercase")

Enter a string: Sddsdsd
SDDSDSD

String wasn't in uppercase

In [20]:
# 18. Check if a number is between 50 and 100. If it is, print “In Range”; otherwise, print “Out of Range.”

a = int(input('Enter a number: '))

if a > 50 and a < 100:
  print("In Range")
else:
  print("Out of Range.")

Enter a number: 24
Out of Range.

In [21]:
# 19. Write a program to determine if a string is empty. If it’s not, print the string.

s = input("Enter a string: ")

if s != '':
  print(s)
else:
  print("The string is empty")

Enter a string: fdgfghdh
fdgfghdh

In [22]:
# 20. Check if a number is greater than 10; if not, add 10 to it.

a = int(input('Enter a number: '))

if a > 10:
  print(f"Yes the number {a} is greater than 10")
else:
  b = a + 10
  print(f"The number {a} is not greater than 10, so 10 added to it! The output is {b}")

Enter a number: 12
Yes the number 12 is greater than 10

In [23]:
# 31. Write a program to check if a number is positive, negative, or zero, then if it's even or odd.
# 32. Check if a year is a leap year and also divisible by 400.
# 33. Write a program to check if a number is divisible by 2 and 3.
# 34. Check if a string starts with a vowel and contains more than 5 characters.
# 35. Determine if a person is eligible to vote; if yes, check if they’re also eligible for senior benefits (65+).
# 36. Write a program to check if a number is greater than 10; if so, check if it’s also less than 20.
# 37. Check if a number is within a range and is divisible by both 3 and 5.
# 38. Write a program to check if a number is positive; if not, check if it’s zero or negative.
# 39. Determine if a number is odd, then check if it’s prime.
# 40. Check if a student’s grade is A or B; if yes, check if they’re also on the honor roll.

In [24]:
# 31. Write a program to check if a number is positive, negative, or zero, then if it's even or odd.

a = int(input('Enter a number: '))

if a > 0 or a < 0 or a == 0:
  if a%2 == 0:
    print("Even")
  else:
    print("Odd")

Enter a number: 11
Odd

In [25]:
# 32. Check if a year is a leap year and also divisible by 400.

year = int(input('Enter a year: '))

if year%4 == 0 and year%400 == 0:
  print(f"Year {year} is a leap year and also divisible by 400.")
else:
  print(f"Year {year} is not a leap year and also divisible by 400.")

Enter a year: 313443
Year 313443 is not a leap year and also divisible by 400.

In [26]:
# 33. Write a program to check if a number is divisible by 2 and 3.

a = int(input('Enter a number: '))

if a%2 == 0 and a%3 == 0:
  print(f"The number is divisible by 2 and 3")
else:
  print(f"The number is not divisible by 2 and 3")

Enter a number: 42
The number is divisible by 2 and 3

In [27]:
# 34. Check if a string starts with a vowel and contains more than 5 characters.

s = input("Enter a string: ")

vowels = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']


if s[0] in vowels and len(s) > 5:
  print(f"The string starts with a vowel and contains more than 5 characters.")
else:
  print(f"The string not starts with a vowel and contains more than 5 characters.")

Enter a string: afaffdgg
The string starts with a vowel and contains more than 5 characters.

In [28]:
# 35. Determine if a person is eligible to vote; if yes, check if they’re also eligible for senior benefits (65+).

age = int(input("Enter age: "))

if age >= 18:
  if age > 65:
    print(f"The person is eligible for vote and also eligible for senior benefits")
  else:
    print(f"The is eligible for vote but not eligible for senior benefits")
else:
  print("The person not eligible for vote")

Enter age: 44
The is eligible for vote but not eligible for senior benefits

In [29]:
# 36. Write a program to check if a number is greater than 10; if so, check if it’s also less than 20.

a = int(input('Enter a number: '))

if a > 10:
  if a < 20:
    print("Greater than 10 and less than 20")
  else:
    print("Greater than 10 but not less than 20")
else:
  print("Less than 10")

Enter a number: 32
Greater than 10 but not less than 20

In [30]:
# 37. Check if a number is within a range and is divisible by both 3 and 5.

a = int(input('Enter a number: '))
lower_bound = int(input("Enter the lower bound of the range: "))
upper_bound = int(input("Enter the upper bound of the range: "))

if lower_bound <= a <= upper_bound and a%3 == 0 and a%5 == 0:
  print("number is within a range and is divisible by both 3 and 5")
else:
  print("number is not within a range and is divisible by both 3 and 5")

Enter a number: 23
Enter the lower bound of the range: 11
Enter the upper bound of the range: 44
number is not within a range and is divisible by both 3 and 5

In [31]:
# 38. Write a program to check if a number is positive; if not, check if it’s zero or negative.

a = int(input('Enter a number: '))

if a > 0:
  print("The number is positive")
elif a == 0:
  print("The number is zero")
else:
  print("The number is negative")

Enter a number: 2112
The number is positive

In [32]:
# 39. Determine if a number is odd, then check if it’s prime.

a = int(input('Enter a number: '))

if a%2 != 0:
  if a <= 1:
    print(f"{a} is not a prime number")
  else:
    for i in range(2, int(a**0.5) + 1):
      if a % i == 0:
          print(f"{a} is not a prime number")
          break
    else:
      print(f"{a} is a prime number")
else:
  print(f"{a} is a even number")

Enter a number: 1233
1233 is not a prime number

In [33]:
# 40. Check if a student’s grade is A or B; if yes, check if they’re also on the honor roll.

grade = input("Enter the student's grade (A, B, C, etc.): ").strip().upper()
honor_roll = input("Is the student on the honor roll? (yes/no): ").strip().lower()

if grade in ('A', 'B'):
    if honor_roll == 'yes':
        print(f"The student has a grade of {grade} and is on the honor roll.")
    else:
        print(f"The student has a grade of {grade} but is not on the honor roll.")
else:
    print("The student does not have a grade of A or B.")

Enter the student's grade (A, B, C, etc.): a
Is the student on the honor roll? (yes/no): no
The student has a grade of A but is not on the honor roll.

In [34]:
# 41. Print numbers from 1 to 10.
# 42. Print all even numbers from 1 to 20.
# 43. Print all odd numbers from 1 to 20.
# 44. Print each character in a string.
# 45. Iterate through a list of names and print each name.
# 46. Print the square of each number from 1 to 10.
# 47. Print all numbers from a list that are greater than 5.
# 48. Create a list of numbers from 1 to 10 using a for loop.
# 49. Iterate through a list of numbers and print only the odd ones.
# 50. Print the multiplication table of a given number.

In [35]:
# 41. Print numbers from 1 to 10.

for i in range(1, 11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [36]:
# 42. Print all even numbers from 1 to 20.

for i in range(1, 21):
  if i%2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [37]:
# 43. Print all odd numbers from 1 to 20.

for i in range(1, 21):
  if i%2 != 0:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [38]:
# 44. Print each character in a string.

s = "nafiul araf"

for i in s:
  print(i)

n
a
f
i
u
l

a
r
a
f

In [39]:
# 45. Iterate through a list of names and print each name.

names = ['nafiul', 'sobuj', 'sagor', 'rayhan', 'sakib']

for name in names:
  print(name)

nafiul
sobuj
sagor
rayhan
sakib

In [40]:
# 46. Print the square of each number from 1 to 10.

for i in range(1, 11):
  print(i**2)

1
4
9
16
25
36
49
64
81
100

In [41]:
# 47. Print all numbers from a list that are greater than 5.

nums = [1, 3, 8, 10, 11, 20, 21, 11]

for num in nums:
  if num > 5:
    print(num)

8
10
11
20
21
11

In [42]:
# 48. Create a list of numbers from 1 to 10 using a for loop.

l = []

for i in range(1, 11):
  l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
# 49. Iterate through a list of numbers and print only the odd ones.

for i in l:
  if i%2 != 0:
    print(i)

1
3
5
7
9

In [44]:
# 50. Print the multiplication table of a given number.

num = int(input("Enter a number: "))

print(f"Multiplication table of {num}:")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 34
Multiplication table of 34:
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

In [45]:
# 51. Print numbers from 1 to 10 using a while loop.
# 52. Use a while loop to print only even numbers up to 20.
# 53. Use a while loop to print the squares of numbers from 1 to 5.
# 54. Print each character of a string using a while loop.
# 55. Print numbers from 10 down to 1 using a while loop.
# 56. Sum all even numbers between 1 and 50 using a while loop.
# 57. Use a while loop to print every third number up to 30.
# 58. Print numbers in reverse order from a given number down to 1.
# 59. Find the factorial of a number using a while loop.
# 60. Print the Fibonacci sequence up to a given number using a while loop.

In [46]:
# 51. Print numbers from 1 to 10 using a while loop.

i = 1

while i < 11:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [47]:
# 52. Use a while loop to print only even numbers up to 20.

i = 1

while i<21:
  if i%2 == 0:
    print(i)

  i += 1

2
4
6
8
10
12
14
16
18
20

In [48]:
# 53. Use a while loop to print the squares of numbers from 1 to 5.

i = 1

while i < 6:
  print(i**2)
  i += 1

1
4
9
16
25

In [49]:
# 54. Print each character of a string using a while loop.

s = "yuyuooj"
i = 0
while i < len(s):
  print(s[i])
  i += 1

y
u
y
u
o
o
j

In [50]:
# 55. Print numbers from 10 down to 1 using a while loop.

i = 10

while i > 0:
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

In [51]:
# 56. Sum all even numbers between 1 and 50 using a while loop.

i = 1
sum = 0

while i < 51:
  if i%2 == 0:
    sum += i
    print(sum)
  i += 1

print(sum)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650
650

In [52]:
# 57. Use a while loop to print every third number up to 30.

i = 1

while i < 31:
  print(i)
  i += 3

1
4
7
10
13
16
19
22
25
28

In [53]:
# 58. Print numbers in reverse order from a given number down to 1.

i = 200

while i > 0:
  print(i)
  i -= 1

200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [54]:
# 59. Find the factorial of a number using a while loop.

a = int(input('Enter a number: '))
fact = 1
i = 1

while i<=a:
  fact *= i
  i += 1
print(f"Factorial of {a} is {fact}")

Enter a number: 33
Factorial of 33 is 8683317618811886495518194401280000000

In [55]:
# 60. Print the Fibonacci sequence up to a given number using a while loop.

limit = int(input("Enter the limit for the Fibonacci sequence: "))

a, b = 0, 1
print("Fibonacci sequence:")
while a <= limit:
    print(a, end=" ")
    a, b = b, a + b

Enter the limit for the Fibonacci sequence: 45654
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657

In [56]:
# 61. Print a 3x3 grid of asterisks.
# 62. Print a multiplication table from 1 to 5.
# 63. Create a pattern of increasing numbers (e.g., 1, 12, 123).
# 64. Generate a pattern of decreasing numbers (e.g., 123, 12, 1).
# 65. Print a triangle of numbers.
# 66. Print all pairs of numbers from 1 to 3.
# 67. Create a pattern of stars in the shape of a pyramid.
# 68. Print a square of numbers using nested loops.
# 69. Create a pattern of alternating ones and zeros.
# 70. Print all unique pairs of elements in a list.

In [57]:
# 61. Print a 3x3 grid of asterisks

for i in range(3):
  print(f"{'*' * 3}")

***
***
***

In [58]:
# 62. Print a multiplication table from 1 to 5.

for i in range(1, 6):
  for j in range(1, 6):
    print(f"{i} * {j} = {i * j}", end = "\t")
  print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25

In [59]:
# 63. Create a pattern of increasing numbers (e.g., 1, 12, 123).

for i in range(1, 4):
  for j in range(1, i+1):
    print(j, end = "")
  print()

1
12
123

In [60]:
# i=1, j=(1, 2) ->1
# i=2, j=(1, 3) ->12
# i=3, j=(1, 4) ->123

In [61]:
# 64. Generate a pattern of decreasing numbers (e.g., 123, 12, 1).

for i in range(3, 0, -1):
  for j in range(1, i+1):
    print(j, end="")
  print()

123
12
1

In [62]:
# 65. Print a triangle of numbers.

n = 10

for i in range(1, n+1):
  print(" " * (n-i)+" ".join(str(x) for x in range(1, i+1)))

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [63]:
# 66. Print all pairs of numbers from 1 to 3.

for i in range(1, 4):
  for j in range(1, 4):
    print(f"({i}, {j})")

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

In [64]:
# 67. Create a pattern of stars in the shape of a pyramid.

rows = 10

for i in range(1, rows+1):
  print(" " * (rows - i) + "* " * i)

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [65]:
# 68. Print a square of numbers using nested loops.

n = 4
for i in range(1, n + 1):
  for j in range(1, n + 1):
    print(j, end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [66]:
# 69. Create a pattern of alternating ones and zeros.

rows = 8

for i in range(rows):
  for j in range(rows):
    print((i + j) % 2, end="")
  print()

01010101
10101010
01010101
10101010
01010101
10101010
01010101
10101010

In [67]:
# 70. Print all unique pairs of elements in a list

elements = [1, 2, 3]
for i in range(len(elements)):
  for j in range(i + 1, len(elements)):
    print(f"({elements[i]}, {elements[j]})")

(1, 2)
(1, 3)
(2, 3)

In [68]:
# 71. Print a 4x4 grid of numbers.
# 72. Use nested while loops to print a triangle of stars.
# 73. Print multiplication tables for numbers from 1 to 5 using nested while loops.
# 74. Use nested while loops to create a pattern of increasing stars.
# 75. Create a pattern of stars in a diamond shape.

# 76. Generate all possible combinations of two letters.
# 77. Use nested while loops to print a right-aligned triangle of numbers.
# 78. Print a pattern of numbers with decreasing values on each line.
# 79. Create a multiplication grid from 1 to 3.
# 80. Generate all possible pairs of numbers from 1 to 4.

In [69]:
# 71. Print a 4x4 grid of numbers.

for i in range(4):
    for j in range(4):
        print(j + 1, end=" ")
    print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [70]:
# 72. Use nested while loops to print a triangle of stars.

rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print("*", end=" ")
        j += 1
    print()
    i += 1

*
* *
* * *
* * * *
* * * * *

In [71]:
# 73. Print multiplication tables for numbers from 1 to 5 using nested while loops

num = 1
while num <= 5:
    print(f"Multiplication table for {num}:")
    i = 1
    while i <= 10:
        print(f"{num} x {i} = {num * i}")
        i += 1
    print()
    num += 1

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [72]:
# 74. Use nested while loops to create a pattern of increasing stars

rows = 5
i = 1
while i <= rows:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i += 1

*
**
***
****
*****

In [73]:
# 75. Create a pattern of stars in a diamond shape

rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)
for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [74]:
# 76. Generate all possible combinations of two letters

letters = "ABCD"
for i in range(len(letters)):
    for j in range(len(letters)):
        if i != j:
            print(letters[i] + letters[j])

AB
AC
AD
BA
BC
BD
CA
CB
CD
DA
DB
DC

In [75]:
# 77. Use nested while loops to print a right-aligned triangle of numbers

rows = 5
i = 1
while i <= rows:
    print(" " * (rows - i), end="")
    j = 1
    while j <= i:
        print(j, end="")
        j += 1
    print()
    i += 1

    1
   12
  123
 1234
12345

In [76]:
# 78. Print a pattern of numbers with decreasing values on each line

rows = 5
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [77]:
# 79. Create a multiplication grid from 1 to 3

for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i * j}", end="\t")
    print()

1	2	3
2	4	6
3	6	9

In [78]:
# 80. Generate all possible pairs of numbers from 1 to 4

for i in range(1, 5):
  for j in range(i+1, 5):
    print(f"({i},{j})")

(1,2)
(1,3)
(1,4)
(2,3)
(2,4)
(3,4)

In [79]:
# 81. Define a function that prints "Hello, World!"
# 82. Write a function that takes a name as input and prints a greeting.
# 83. Define a function to calculate the square of a number.
# 84. Write a function to check if a number is even.
# 85. Create a function to calculate the area of a circle.
# 86. Define a function that returns the maximum of two numbers.
# 87. Write a function to find the minimum of three numbers.
# 88. Define a function to return the absolute value of a number.
# 89. Write a function to convert Celsius to Fahrenheit.
# 90. Create a function to calculate the factorial of a number.

In [80]:
# 81. Define a function that prints "Hello, World!"

def funct():
  print("Hello World!")

funct()

Hello World!

In [81]:
# 82. Write a function that takes a name as input and prints a greeting.

def funct_g(name):
  print(f"Hello {name}!")

funct_g("Araf")

Hello Araf!

In [82]:
# 83. Define a function to calculate the square of a number.

def square(num):
  print(num**2)

square(8)

64

In [83]:
# 84. Write a function to check if a number is even.

def check_even(num):
  if num%2 == 0:
    print("The number is even")
  else:
    print("The number is not even")

check_even(90)

The number is even

In [84]:
# 85. Create a function to calculate the area of a circle.

def circle_area(radius):
  print(f"The area of the circle ofr radius {radius} is: {round(3.1416*(radius**2), 2)}")

circle_area(2.4)

The area of the circle ofr radius 2.4 is: 18.1

In [85]:
# 86. Define a function that returns the maximum of two numbers.

def max_of_two(n1, n2):
  if n1 > n2:
    return n1
  else:
    return n2

number = max_of_two(14, 19)
number

19

In [86]:
# 87. Write a function to find the minimum of three numbers.

def min_of_three(n1, n2, n3):
  if n1<n2 and n1<n3:
    return n1
  elif n2<n1 and n2<n3:
    return n2
  else:
    return n3

number = min_of_three(10, 15, 7)
number

7

In [87]:
# 88. Define a function to return the absolute value of a number.

def abs(num):
  if num < 0:
    return num*(-1)
  else:
    return num

abs(-17)

17

In [88]:
# 89. Write a function to convert Celsius to Fahrenheit.

def cel_to_faren(temp):
  return (temp*(9/5)) + 32

cel_to_faren(34)

93.2

In [89]:
# 90. Create a function to calculate the factorial of a number.

def factorial(num):
  fact = 1
  i = 1

  while i <= num:
    fact *= i
    i += 1
  return fact

factorial(5)

120

In [90]:
# 91. Write a function to add two numbers and return the result.
# 92. Define a function that takes a list and returns the sum of all elements.
# 93. Write a function that checks if a string is a palindrome.
# 94. Define a function that returns the reverse of a string.
# 95. Write a function that accepts a number and returns True if it's prime.
# 96. Create a function that returns the count of vowels in a string.
# 97. Define a function that takes a list and returns the largest element.
# 98. Write a function to count occurrences of a character in a string.
# 99. Define a function that takes a list and returns only the even numbers.
# 100. Create a function to calculate the GCD of two numbers.

In [91]:
# 91. Write a function to add two numbers and return the result.

def add(a, b):
  return a+b

add(12, 15)

27

In [92]:
# 92. Define a function that takes a list and returns the sum of all elements.

def list_sum(list_):
  sum = 0
  for i in list_:
    sum = sum+i
  return sum

list_sum([1, 2, 3, 4])

10

In [93]:
# 93. Write a function that checks if a string is a palindrome.

def is_palindrome(s):
  s = s.replace(" ", "").lower()
  if s == s[::-1]:
    print(f"The string {s} is a palindrome")
  else:
    print(f"The string {s} is not a palindrome")

is_palindrome("madam")

The string madam is a palindrome

In [94]:
# 94. Define a function that returns the reverse of a string.

def reverse(s):
  return s[::-1]

reverse("nafiul")

'luifan'

In [95]:
# 95. Write a function that accepts a number and returns True if it's prime.

def is_prime(num):
  if num <= 1:
    return False
  for i in range(2, int(num ** 0.5) + 1):
    if num % i == 0:
      return False
  return True

print(is_prime(7))
print(is_prime(10))
print(is_prime(1))

True
False
False

In [96]:
# 96. Create a function that returns the count of vowels in a string.

def count_vowels(s):
  vowels = "aeiouAEIOU"
  count = 0
  for char in s:
    if char in vowels:
      count += 1
  return count

count_vowels("Nafiul Araf")

5

In [97]:
# 97. Define a function that takes a list and returns the largest element.

def find_largest_element(lst):
  if not lst:
    return None
  largest = lst[0]
  for num in lst:
    if num > largest:
      largest = num
  return largest

find_largest_element([12, 1, 34, 23,343,11,45,33,234])

343

In [98]:
# 98. Write a function to count occurrences of a character in a string.

def count_character(s, char):
  count = 0
  for c in s:
    if c == char:
      count += 1
  return count

s = "hello world"
s_un = set(s)
for i in s_un:
  print(f"Count {i} = {count_character(s, i)}\n")

Count l = 3

Count h = 1

Count r = 1

Count w = 1

Count e = 1

Count o = 2

Count d = 1

Count   = 1

In [99]:
# 99. Define a function that takes a list and returns only the even numbers.

def even_list(list_):
  evens = []
  for i in list_:
    if i%2 == 0:
      evens.append(i)
  return evens
even_list([12, 1, 34, 23,343,11,45,33,234])

[12, 34, 234]

In [100]:
# 100. Create a function to calculate the GCD of two numbers.

def gcd(a, b):
  if b!= 0:
    a, b = b, a%b
  return a


print(gcd(48, 18))

18